:root {
  --clr-primary-1: #7c2d12;
  --clr-primary-2: #9a3412;
  --clr-primary-3: #c2410c;
  --clr-primary-4: #ea580c;
  --clr-primary-5: #f97316;
  --clr-primary-6: #fb923c;
  --clr-primary-7: #fdba74;
  --clr-primary-8: #fed7aa;
  --clr-primary-9: #ffedd5;
  --clr-primary-10: #ffedd5;

  --clr-grey-1: #0f172a;
  --clr-grey-2: #1e293b;
  --clr-grey-3: #334155;
  --clr-grey-4: #475569;
  --clr-grey-5: #64748b;
  --clr-grey-6: #94a3b8;
  --clr-grey-7: #cbd5e1;
  --clr-grey-8: #e2e8f0;
  --clr-grey-9: #f1f5f9;
  --clr-grey-10: #f8fafc;
  --clr-white: #fff;
  --clr-red-dark: #bb2525;
  --clr-red-light: #e66b6b;
  --clr-green-dark: #25bb32;
  --clr-green-light: #6be675;
  --clr-black: #222;
  --transition: all 0.1s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace;
}

.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a {
  text-decoration: none;
}
button {
  background-color: none;
  border: none;
}
.container {
  padding: 30px 20px;
}
/* nav-bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container span {
  font-weight: 900;
  color: var(--clr-grey-1);
}
.nav-bar li:not(:nth-child(1)) {
  margin-left: 20px;
}
.nav-bar li {
  border-bottom: 2px solid transparent;
}

.nav-bar li:hover {
  border-bottom-color: var(--clr-primary-6);
  cursor: pointer;
}
.nav-bar li a {
  text-decoration: none;
  color: var(--clr-grey-5);
}
.navbar-routs {
  list-style-type: none;
  display: none;
}
.cart-login {
  display: none;
}
.logo {
  height: 60px;
}
.cart-login article {
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
}
.cart-login article , .cart-login article a {
  color: var(--clr-grey-2);
}
.login {
  margin-left: 1.5em;
  display: flex;
  align-items: center;
  transition:var(--transition);
}
.login:hover{
  color: var(--clr-primary-7);
}
.bars-icon {
  font-size: 2em;
  color: var(--clr-grey-3);
  cursor: pointer;
}
/* end navbar */
/* sidebar */
.sidebar {
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  top: 0px;
  left: -100%;
  background: white;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: close;
  z-index: 100;
}
.oprnsidebare {
  animation-name: open;
}
/* end Home */
@keyframes open {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes close {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.logo-x {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 10px 0px;
}
.feature-header {
  text-align: center;
}
.cross {
  font-size: xx-large;
  color: var(--clr-red-dark);
  font-weight: 900;
  cursor: pointer;
}
.navbar-routs-sidebar {
  list-style-type: none;
  padding: 0;
}
.navbar-routs-sidebar li {
  transition: var(--transition);
  cursor: pointer;
}
.navbar-routs-sidebar li a {
  color: var(--clr-grey-4);
  transition: var(--transition);
  display: block;
  padding: 20px 20px;
}
.navbar-routs-sidebar li:hover {
  background-color: var(--clr-grey-9);
}
.navbar-routs-sidebar li:hover > a {
  padding-left: 30px;
}
.cart-login-sidebar {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
.cart-login-sidebar article {
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
}
.cart-login-sidebar article a {
  color: var(--clr-grey-2);
}
.login-sidebar {
  margin-left: 20px;
}

.login img {
  border-radius: 50%;
  width: 40px;
  border: 2px solid var(--clr-primary-6);
}

.cart-amount {
  position: absolute;
  top: -10px;
  right: -16px;
  background: var(--clr-primary-5);
  width: 16px;
  height: 16px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.75rem;
  color: var(--clr-white);
  padding: 5px;
}
/* end sidebar */
/* start Home */
/* home first section */

.design-header {
  color: var(--clr-grey-1);
  font-size: calc(20px + 2vw);
  margin: 20px 0;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.home-p {
  color: var(--clr-grey-6);
  line-height: 25px;
  font-size: 18px;
  max-width: 40rem;
}
.shop-now {
  color: var(--clr-grey-10);
  background: var(--clr-primary-5);
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: var(--transition);
}
.shop-now a{
  color: var(--clr-grey-10);
}
.shop-now:hover {
  color: var(--clr-primary-3);
  background: var(--clr-primary-7);
}
.homeFirst-container {
  padding: 15px 20px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
  background-color: var(--clr-grey-9);
}
.shadow {
  width: 100px;
  height: 400px;
  position: absolute;
  bottom: 4px;
  background-color: var(--clr-primary-9);
  left: -50px;
  display: none;
}
.shop-img {
  position: relative;
  display: none;
}
.shop-img .img1 {
  width: 100%;
  border-radius: 5px;
  z-index: 0;
  position: relative;
  height: 100%;
}
.shop-img .img2 {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  transform: translateX(-50%);
  left: 0px;
  bottom: 0px;
  z-index: 1;
  display: none;
}
/* end home first section */
/* start home second section */
.feature-header {
  text-align: center;
  color: var(--clr-grey-2);
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.header {
  text-align: center;
  color: var(--clr-grey-2);
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.home-secound .hr {
  width: 100px;
  margin: auto;
  background-color: var(--clr-primary-5);
  height: 5px;
  margin-bottom: 20px;
}
.home-secound {
  background-color: var(--clr-grey-10);
  padding: 50px 20px;
}
.feature-content article {
  margin-top: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.feature-img-container {
  position: relative;
}
.feature-img-container:hover > .search {
  opacity: 1;
}
.search {
  transition: var(--transition);
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  border-radius: 5px;
  cursor: pointer;
}
.search svg {
  background-color: var(--clr-primary-5);
  border-radius: 50%;
  padding: 5px;
  color: white;
  font-size: 1.25rem;
}
.feature-content img {
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  width: 100%;
  height: 300px;
}
.product-info {
  text-transform: capitalize;
  color: var(--clr-grey-3);
  margin-bottom: 30px;
  margin-top: 20px;
  letter-spacing: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.product-info > span {
  float: right;
  color: var(--clr-primary-6);
}
.goback-icon{
  color: var(--clr-primary-5);
  font-size: 30px;
  margin: auto;
  margin-top: 10px;
}
.goback-icon svg{
  cursor: pointer;
}
.product-info p {
  margin: 0px;
}
.all-products {
  display: block;
  padding: 5px;
  color: var(--clr-grey-10);
  background: var(--clr-primary-6);
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: var(--transition);
  margin: auto;
}
.all-products a {
  color: var(--clr-grey-10);
}
.all-products:hover {
  color: var(--clr-primary-3);
  background: var(--clr-primary-7);
}
/* end home secound section */
/* start  home third section */
.home-third {
  background-color: var(--clr-primary-9);
  padding: 50px 20px;
}
.third-header {
  color: var(--clr-primary-1);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 30px;
}
.third-par {
  line-height: 25px;
  color: var(--clr-primary-6);
  margin-bottom: 50px;
  font-size: larger;
}
.third-content article {
  background-color: var(--clr-primary-7);
  text-align: center;
  padding: 15px;
  line-height: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.third-content article svg {
  background-color: var(--clr-primary-9);
  color: var(--clr-primary-1);
  border-radius: 50%;
  padding: 15px;
  font-size: xx-large;
}
.third-content article h2 {
  color: var(--clr-primary-1);
  text-transform: capitalize;
}
.third-content article p {
  color: var(--clr-primary-1);
  font-size: medium;
}
/* end home third section */
/* start home forth section */
.forth-container {
  margin: 20px 0px;
}
.forth-container h1 {
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;

}
.forth-container .forth-p {
  color: var(--clr-grey-6);
  margin-bottom: 50px;
  font-size: x-large;
  max-width: 30rem;
  background-image: url('/public/blob.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size:200px;

}
.inputs button {
  color: var(--clr-grey-10);
  padding: 5px;
  background-color:var(--clr-grey-1);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  font-size: large;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
}
.inputs button:hover {
  color: var(--clr-grey-10);
}
.inputs ::placeholder {
  letter-spacing: var(--spacing);
}
.inputs {
  display: grid;
  border-radius: 5px;
  border: solid 2px var(--clr-grey-1);
  grid-template-columns: 1fr auto;
  padding: 5px;
}
.inputs input {
  border: 0;
  border-right: solid 2px #102a42;
  border-radius: 5px 0px 0px 5px;
  letter-spacing: var(--spacing);
}
input:focus-visible {
  border: none;
  outline: transparent;
  color: var(--clr-grey-1);
}
input::placeholder{
  font-weight: bold;
  color:var(--clr-grey-1);
  letter-spacing: var(--spacing);
}
/* end home forth section */
/* start home footer */
.home-footer {
  background-color: var(--clr-grey-1);
  color: var(--clr-grey-10);
  text-align: center;
  padding: 20px 50px;
  display: grid;
  align-items: center;
  align-self: flex-end;
}
.home-footer span {
  color: var(--clr-primary-5);
  margin-left: 10px;
}
.home-footer div {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-creator {
  width: 50px;
}
/* end home footer */
/* end home  */
/* start routPath */
.route-path-container {
  background-color: var(--clr-primary-9);
}
.route-path-container h2 {
  margin: 0px;
}

.route-path-container h2 span:nth-of-type(1) {
  color: var(--clr-primary-2);
  margin-right: 10px;
}
.route-path-container h2 span:nth-of-type(2) {
  text-transform: capitalize;
  color: var(--clr-primary-3);
}
.container-filter section {
  display: flex;
  align-items: center;
  margin-right: 3px;
  border: 1px solid var(--clr-grey-9);
  padding: 0 10px;
  margin-top: 5px;
  width: 100%;
}
.container-filter section h3 {
  margin-right: 10px;
}
.container-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.price-input {
  cursor: pointer;
}
.price-container {
  display: flex;
  justify-items: baseline;
}
.price-container span {
  align-self: center;
}
/* end routPath */
/* start about */
/* start AboutSecound */
.AboutSecond-content img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  max-height: 554px;
}
.AboutSecond-content h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: var(--clr-grey-3);
  margin-bottom: 10px;
  letter-spacing: var(--spacing);
}
.AboutSecond-content p {
  line-height: 30px;
  color: var(--clr-grey-6);
  text-align: justify;
  font-size: larger;
}
.AboutSecond-content .hr {
  width: 100px;
  height: 4px;
  background-color: var(--clr-primary-9);
}

/* end AboutSecound */
/* end about */
/*start products*/
/* start search  */
.search-products {
  background-color: var(--clr-grey-10);
  border: none;
  padding: 8px;
  display: block;
  padding: 18px;
  color: var(--clr-grey-1);
  margin: 10px auto;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.search-products::placeholder{
  color: var(--clr-grey-5);

}
.header-filter {
  color: var(--clr-grey-2);
}
.cateogry button {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
  background: var(--clr-grey-10);
}
.cateogry button:nth-last-of-type(3) {
  margin-left: 0px;
}
.cateory-active {
  background: var(--clr-grey-5) !important;
  color: var(--clr-grey-10);
}
.channel select {
  border: none;
  background-color: var(--clr-grey-10);
  padding: 10px;
  cursor: pointer;
}
.color button:not(.All) {
  all: unset;
  margin-left: 5px;
  line-height: 2px;
  cursor: pointer;
  text-align: center;
}
.color button svg {
  font-size: 20px;
}

.All {
  all: unset;
  color: var(--clr-grey-6);
  background-color: white;
  font-size: medium;
  cursor: pointer;
}
.All-cative {
  border-bottom: 1px solid var(--clr-grey-6);
}
.product-found {
  display: flex;
  align-items: center;
  color: var(--clr-grey-4);
  margin-top: 20px;
}
.product-found hr {
  color: var(--clr-grey-7);
}
.product-found select {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--clr-grey-10);
  color: var(--clr-gray-1);
  border: none;
}
.product-found .h-line {
  flex-grow: 1;
  padding: 0 10px;
}
.fiterproduct-contaoner {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
/* end search */
/* start product content */
.productcontent-container {
  padding-top: 0px !important;
}
/* start shoping item  */
.shoping-header {
  display: grid;
  grid-template-columns: 2fr auto auto;
  grid-column-gap: 20px;
  font-size: 15px;
  color: var(--clr-grey-6);
  padding: 10px 0;
  border-bottom: 1px solid var(--clr-grey-6);
  /* text-align: center; */
}
.shop-item-container {
  display: grid;
  grid-template-columns: 1fr auto auto ;
  grid-column-gap: 20px;
  font-size: 15px;
  padding: 20px 0px;
  border-bottom: 1px solid var(--clr-grey-6);
}
.shop-item-container section {
  display: flex;
  align-items: center;
  letter-spacing: var(--spacing);
  /* justify-content: center; */
}
.shop-item-container .shop-item {
  justify-self: start;
  font-size: small !important;
}
.margin-left {
  margin-left: auto;
}
.shop-item-container section h4 {
  margin: unset;
}
.shop-item-container section img {
  width: 95px;
  height: 75px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: contain;
}
.shop-item-container section article h4 {
  color: var(--clr-grey-2);
}
.shop-item-container section article p {
  all: unset;
}
.shop-item-container section article div {
  color: var(--clr-grey-6);
  display: flex;
  align-items: center;
}
.shop-item-container section article div svg {
  margin-left: 5px;
}
.shop-item-container section article p {
  color: var(--clr-primary-6);
}

.shop-item-container .quantity {
  color: var(--clr-grey-1);
  font-weight: bolder;
}
.shop-item-container .quantity svg {
  cursor: pointer;
}
.shop-item-container .quantity span {
  font-size: larger;
  margin: 0px 10px 0px 0px;
}
.im-bin,
.im-cross {
  all: unset;
  margin-left: auto;
  color: var(--clr-red-dark);
  font-size: larger;
  cursor: pointer;
}
.im-bin :hover,
.im-cross:hover {
  color: var(--clr-red-light);
}
.im-bin {
  display: none;
}
.im-cross {
  align-self: flex-start;
  font-size: small;
}
.subtotal-header {
  text-align: start;
}
.size {
  font-size: larger;
  margin: 0 10px;
}
.subtotal {
  color: var(--clr-grey-3);
}
.continue-clear {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.continue-clear button {
  padding: 5px;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  color: var(--clr-grey-10);
  border-radius: 5px;
  cursor: pointer;
}
/* end shoping item  */
/* end product content SubTota*/
/* start CeckCart */
.ceckcart-container {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
.ceckcart-container section {
  width: 100%;
  max-width: 400px;
}

.ceckcart-container section article {
  padding: 40px;
  border: 1px solid var(--clr-grey-7);
  border-radius: 5px;
  color: var(--clr-grey-2);
  letter-spacing: var(--spacing);
}
.ceckcart-container section article h5,
h2 {
  margin-top: 0px;
  margin-bottom: 0;
}
.ceckcart-container section article div:nth-child(2) {
  border-bottom: 1px solid var(--clr-grey-5);
  color: var(--clr-grey-6);
  margin: 20px 0px;
  padding-bottom: 20px;
}
.ceckcart-container section article span {
  float: right;
}
.ceckcart-container section button {
  padding: 5px;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  color: var(--clr-grey-9);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--clr-grey-1);
  width: 100%;
  margin-top: 20px;
  font-weight: bolder;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content:center ;

}
.ceckcart-container section button span{
  padding-left: 5px;
}
.ceckcart-container section button:hover {
  background-color: var(--clr-grey-9);
  color: var(--clr-grey-1);
}
/* end Check cart */
/*end products*/
/* start productItem */
.backto-product {
  color: var(--clr-grey-10);
  background: var(--clr-primary-6);
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: var(--transition);
  object-fit: cover;
  margin: 20px 0px;
  display: flex;
  align-items: center;
}
.backto-product svg {
  margin-right: 10px;
}
.backto-product:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
.product-img {
  text-align: center;
}

.imgesitem-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.imgesitem-container img {
  width: 9%;
  cursor: pointer;
  border-radius: var(--radius);
  box-sizing: border-box;
}
.active-img {
  margin: auto;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 500px;
  object-fit: contain

}
.active-product-item {
  border: 2px solid var(--clr-primary-4);
}
.starts-rate {
  display: flex;
  margin-bottom: 10px;
}
.product-article .starts-rate svg {
  color: #ffb900;
}
.number-rating {
  margin-left: 10px;
  transform: translateY(-1.5px);
}
.product-article div span {
  color: var(--clr-grey-3);
}
.product-article h1 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  font-size: xx-large;
  color: var(--clr-grey-1);
  margin-bottom: 10px;
}
.product-article {
  margin-top: 50px;
}
.product-article strong.price {
  color: var(--clr-primary-4);
  letter-spacing: var(--spacing);
}

.product-article .decription {
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  line-height: 30px;
  text-align: justify;
}
.about-product {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--clr-grey-2);
  justify-content: start;
  align-items: center;
}

.about-product div:nth-last-of-type(2n) {
  color: var(--clr-grey-2);
  font-weight: bold;
}
.about-product div:nth-last-of-type(2n + 1) {
  color: var(--clr-grey-3);
  font-weight: lighter;
}
.product-article .color button:first-child {
  margin-left: 0px;
}
.product-article .color h3 {
  margin: 0px;
  color: var(--clr-grey-2);
  font-weight: bold;
}
.product-article .color div {
  margin-bottom: 0px;
}
.shop-item-info {
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr;
  height: 100%;
  align-items: center;
}
.shop-item-info span{
  text-transform: capitalize;
}
.increase-decrease {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 54px;
}
.increase-decrease span {
  margin: 0 20px !important;
  font-size: xx-large;
  font-weight: bold;
  color: var(--clr-grey-2);
}
.increase-decrease div svg {
  color: var(--clr-grey-1) !important;
  cursor: pointer;
  font-size: 20px;
}
.increase-decrease div {
  display: flex;
  align-items: center;
}
.add-to-cart {
  background-color: var(--clr-primary-4);
  letter-spacing: var(--spacing);
  color: var(--clr-grey-10);
  padding: 10px;
  border-radius: var(--radius);
  cursor: pointer;
  text-transform: uppercase;
  justify-self: end;
  transition: var(--transition);
  display: flex;
  align-items: center;
}
.add-to-cart:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
.add-to-cart svg {
  margin-left: 10px;
  font-size: large;
}
.shipping input {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.sizes .active {
  border: 1px solid var(--clr-grey-4);
  font-weight: bold;
}
.sizes span {
  padding: 2px 5px;
  cursor: pointer;
}
.sizes span:first-child {
  margin-left: 0px;
}
/* end ProductItem */
/* end productItem */
/* start error page  */
.err-page {
  text-align: center;
  color: var(--clr-grey-1);
}
.offline {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.err-page {
  background: var(--clr-primary-9);
}
.err-page button {
  padding: 10px;
  letter-spacing: var(--spacing);
  background-color: var(--clr-primary-5);
  color: var(--clr-primary-10);
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 50px;
}
.err-page button:hover {
  background-color: var(--clr-primary-7);
  color: var(--clr-primary-1);
}
/* end error page  */

/* start pre loader */

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
  position: relative;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--clr-grey-5);
  border-top-color: var(--clr-grey-10);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 70px 0px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
/* start modal */
  .order-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
  }
  .order-modal-content{
    width: 300px;
    padding: 10px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    position: relative;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: var(--clr-grey-1);
  }
  .order-modal-content h1{
   padding-top: 30px;
  }
  .order-modal-content label{
    color: var(--clr-grey-2);
    margin-right: 10px;
  }
  .order-modal-content input{
    border: 1px solid var(--clr-grey-1);
    height: 25px;
    font-weight: 900;
    margin-top: 10px;
  }
  .order-modal-content input:focus{
    border: 1px solid var(--clr-grey-5);
  }
  .order-modal-content input:focus::placeholder{
    color: transparent;
  }
  
  .order-modal-content svg{
    display: block;
    margin-left: auto;
    position: relative;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .close-modal{
    display: none;
  }
  .order-btn {
    display: block;
    width: 120px;
    margin: auto;
    background: var(--clr-grey-1);
    color: var(--clr-grey-10);
    border-radius: 5px;
    height: 50px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid var(--clr-grey-1);
    transition: 0.5s;
  }
  .order-btn:hover{
    background: var(--clr-grey-3);
  }
/* end modal */
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.continue-clear button:nth-child(1) {
  background-color: var(--clr-primary-4);
}
.continue-clear button:nth-child(2) {
  background-color: var(--clr-black);
}

/* end preloader */
/* 'sm': '640px', */
@media (min-width: 640px) {
  .container-filter {
    justify-content: center;
  }
  .shoping-header {
    grid-template-columns: 3fr 1fr 1fr ;
  }
  .shop-item-container {
    grid-template-columns: 3fr 1fr 1fr ;
  }
  .ceckcart-container {
    justify-content: flex-end;
  }
}

  .AboutSecond-content h6 {
    margin-top: 0px;
    font-size: 20px;
    letter-spacing: 10px;
    color: var(--clr-grey-6);
    margin-bottom:5px ;
    text-transform: capitalize;
  }
  .doodle {
    background-image: url('/public/doodle.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 170px;
  }

/* 'md': '768px', */
@media (min-width: 768px) {

  .container {
    padding: 50px 100px;
  }

  .feature-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .third-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .third-content article {
    margin-bottom: 0px;
  }
  .third-des {
    display: block;
    text-align: center;
  }
  .AboutSecond-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  .im-bin {
    display: block;
  }
  .im-cross {
    display: none;
  }
  .order-modal-content{
    width: 400px;
    padding: 10px;
  }
  .shop-btn {
    display: block;
    padding: 10px 50px;
  }

  .home-p{
   font-size: 20px;
   line-height: 35px; 
  }
}
/* 'lg': '1024px', */
@media (min-width: 1024px) {
  /*start  navbar */
  .container {
    padding: 50px 200px;
  }
  .bars-icon {
    display: none;
  }
  .cart-login {
    display: flex;
    align-items: center;
  }
  .navbar-routs {
    display: flex;
  }
  /*end  navbar */
  /* start sidebar */
  .sidebar {
    display: none;
  }
  /* endsidebar */
  /* start home */


  .feature-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .third-content {
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    bottom: -100px;
  }
  .third-par {
    margin-bottom: 0;
    text-align: center;
    max-width: 40rem;
    margin: auto;
  }
  .forth-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  .forth-container .forth-p {
    margin: 0px;
  }
  .inputs {
    max-height: 33px;
  }
  /* end Home */
  /*start about */
  /* start cart */
  .shoping-header {
    grid-template-columns: 1fr 1fr 1fr ;

    font-size: 18px;
  }
  .shop-item-container {
    grid-template-columns: 1fr 1fr 1fr ;

    font-size: 18px;
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
  }
  .container-filter section{
    width: auto;
  }
  /* end crt */
  /* end about */
}

/* 'xl': '1280px', */
@media (min-width: 1280px) {
  .container {
    padding: 50px 300px;
  }
  .feature-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .shop-img {
    display: block;
  }
  .homeFirst-container {
    display: grid;
  }
}

/* '2xl': '1536px', */
@media (min-width: 1536px) {
}

